@keyframes animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
.sl_2 {
  width: 100%;
  height: 145px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  .s_1 {
    display: block;
    width: 240px;
    height: 123px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: #5b5b5b29;
    text-decoration: none;
    transition: 500ms linear;
    &:hover {
      background-color: #3b3b3b61;
      img {
        transform: translateY(152px);
        transition: 300ms linear;
      }
      .s_1_P {
        opacity: 0;
        transition: 100ms linear;
      }
      .sp1_hover {
        transition: 500ms linear;
        transform: translateX(0);
      }
      .s_hover {
        opacity: 1;
        transition: 800ms linear;
        animation-name: animation;
        animation-timing-function: linear;
        animation-duration: 800ms;
        animation-iteration-count: infinite;
      }
    }
    img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 152px;
      height: 86px;
      object-fit: cover;
      transition: linear 300ms;
    }
    .s_1_P {
      font-size: 15px;
      font-weight: 700;
      position: absolute;
      top: 15%;
      left: 10%;
      transition: 900ms linear;
      text-decoration: none;
      color: #3b3b3b;
    }
    .sp1_hover {
      position: absolute;
      top: 15%;
      left: 10%;
      font-size: 15px;
      font-weight: 500;
      color: #2b2b2b;
      transform: translateX(-250px);
      transition: 500ms linear;
    }
    .s_hover {
      position: absolute;
      bottom: 0%;
      left: 10%;
      font-size: 30px;
      color: #3b3b3b;
      opacity: 0;
      transition: 800ms linear;
    }
  }
  .s_2 {
    width: 170px;
    height: 122px;
    background-color: blue;
    border-radius: 10px;
    background-color: #5b5b5b29;
    transition: 300ms linear;
    position: relative;
    display: block;
    text-decoration: none;
    color: black;
    .s2P {
      font-size: 14px;
      font-weight: 600;
      color: black;
      position: absolute;
      top: 15%;
      left: 15%;
      text-decoration: none;
    }
    .s2Img {
      width: 80%;
      height: 60%;
      object-fit: contain;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }

    .sp_hover {
      position: absolute;
      bottom: 0px;
      left: 15px;
      font-size: 50px;
      font-weight: 700;
      opacity: 0;
      transition: 300ms linear;
    }
    &:hover {
      background-color: #3b3b3b61;
      .sp_hover {
        opacity: 1;
        transition: 800ms linear;
        animation-name: animation;
        animation-timing-function: linear;
        animation-duration: 800ms;
        animation-iteration-count: infinite;
      }
    }
  }
}
